.trapezoid {
  border-bottom: 30px solid black;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  width: 80%;
  /* opacity: 0.; */
  filter: drop-shadow(0px 32px 26px #000000);
  -webkit-filter: drop-shadow(0px 32px 26px #000000);
  -moz-filter: drop-shadow(0px 32px 26px #000000);
  color: white;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 40px;
}
.ghe {
  /* ghế thường */
  width: 25px;
  height: 25px;
  border-radius: 5px;
  margin: 5px;
  background-color: rgb(123, 122, 122);
  color: #fff;
}
@media (min-width: 1024px) {
  .ghe {
    /* ghế thường */
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin: 5px;
    background-color: rgb(123, 122, 122);
    color: #fff;
  }
}
.gheVip {
  background-color: rgb(228, 74, 8);
}
.gheDaDat {
  background-color: rgb(255, 0, 0);
  cursor: no-drop;
}
.gheDangDat {
  background-color: rgb(18, 176, 18) !important;
}
.gheDaDuocDat {
  background-color: rgb(246, 246, 246) !important;
  box-shadow: -1px 2px 18px -6px orange;
  -webkit-box-shadow: -1px 2px 18px -6px orange;
  -moz-box-shadow: -1px 2px 18px -6px orange;
  color: orange !important;
  border: 1px solid orange;
}
.gheKhachDat {
  background-color: rgb(242, 25, 191) !important;
  cursor: no-drop;
}
.box__tinhTien {
  box-shadow: -7px 10px 8px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -7px 10px 8px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -7px 10px 8px 3px rgba(0, 0, 0, 0.5);
}
