.multiRow .slick-prev,
.multiRow .slick-next,
.multiRow .slick-prev:hover,
.multiRow .slick-next:hover {
  font-size: inherit;
  color: currentColor;
}

.multiRow .slick-prev,
.multiRow .slick-prev:hover {
  left: 0px;
  bottom: 80px;
  font-size: 60px;
  z-index: 2;
  color: red;
  transition: 0.5s;
}

.multiRow .slick-next,
.multiRow .slick-next:hover {
  right: 30px;
  font-size: 60px;
  z-index: 2;
  color: red;
  transition: 0.5s;
}
.multiRow .slick-prev:hover,
.multiRow .slick-next:hover {
  opacity: 0.5;
}
.multiRow .ant-card-body {
  padding: 10px;
}
.multiRow .slick-slide > div {
  margin: 0 10px;
}
.multiRow .slick-list {
  margin: 0 -10px;
}
.cardBG {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  background: linear-gradient(to top, #000, transparent 100%);
  transition: all 0.5s;
  visibility: hidden;
  border-radius: 4px;
}
.showTrailer {
  position: relative;
}
.showTrailer:hover .cardBG {
  opacity: 1;
  visibility: visible;
}
.buttonTrailer {
  top: 50%;
  left: 50%;
  width: 60px;
  border: none;
  height: 60px;
  z-index: 3;
  position: absolute;
  transform: translate(-50%, -50%);
  background: transparent;
}
.buttonTrailer:hover {
  opacity: 0.7;
  background: transparent;
}
